<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="head_menu">
        <div class="menu_btn">
            <i class="icon-default"></i>
            <i class="icon-hover"></i>
            <span>Меню</span>
            <div class="dropdown_menu">
                <div class="triangle"></div>
                <ul>
                    <li><a>Главная</a></li>
                    <li><a href="~/Genre/Category.cshtml">Фильмы</a></li>
                    <li><a>Сериалы</a></li>
                    <li><a>Мультфильмы</a></li>
                </ul>
            </div>
        </div>
        <div class="logo">
        </div>
        <div class="search">
            <input type="text" />
            <button class="search-btn"></button>
        </div>
        <div class="profile">
        </div>
    </div>
    <div id="wrapper">
        <div id="header">
            @RenderSection("Slaider", required: false)
            @RenderSection("Player", required: false)
        </div>
        <div id="middle">
            @RenderBody()
        </div>

        <div id="footer" style="overflow: hidden;">
            <div style="height: 1px; background-color: gray;"></div>
            <div class="footer_content">
                <ul class="foot_menu">
                    <li><a>ГЛАВНАЯ</a></li>
                    <li><a>НОВИНКИ</a></li>
                    <li><a>ФИЛЬМЫ</a></li>
                    <li><a>МУЛЬТФИЛЬМЫ</a></li>
                    <li><a>СЕРИАЛЫ</a></li>
                    <li><a>ТОП</a></li>
                    <li><a>КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div style="text-align: center;">
                <p>Copyright 2016 Владыка Сергей Corp</p>
            </div>
        </div>

    </div>

    <script>


        $('.post_image').hover(function () {
            var popup = $(this).parents('.post').children('.popup-wrapper');
            var popupTriangle = $(this).parents('.post').children('.popup-triangle');
            var timeout = $(this).parents('.post').attr('timeout');

            if ($(this).hasClass('1')) {
                $(popupTriangle).css('right', '');
                $(popup).css('right', '');
                $(popupTriangle).css('left', '285px');
                $(popupTriangle).children().css('background-position', '6px 0px');
                $(popup).css('left', '305px');
            }
            else if ($(this).hasClass('2')) {
                $(popupTriangle).css('right', '');
                $(popup).css('right', '');
                $(popupTriangle).css('left', '525px');
                $(popupTriangle).children().css('background-position', '6px 0px');
                $(popup).css('left', '545px');
            }
            else if ($(this).hasClass('3')) {
                $(popupTriangle).css('right', '');
                $(popup).css('right', '');
                $(popupTriangle).css('left', '765px');
                $(popupTriangle).children().css('background-position', '6px 0px');
                $(popup).css('left', '785px');
            }
            else if ($(this).hasClass('4')) {
                $(popupTriangle).css('left', '');
                $(popup).css('left', '');
                $(popupTriangle).css('right', '770px');
                $(popupTriangle).children().css('background-position', '0px -32px');
                $(popup).css('right', '790px');
            }
            else if ($(this).hasClass('5')) {
                $(popupTriangle).css('left', '');
                $(popup).css('left', '');
                $(popupTriangle).css('right', '530px');
                $(popupTriangle).children().css('background-position', '0px -32px');
                $(popup).css('right', '550px');
            }
            else {
                $(popupTriangle).css('left', '');
                $(popup).css('left', '');
                $(popupTriangle).css('right', '290px');
                $(popupTriangle).children().css('background-position', '0px -32px');
                $(popup).css('right', '310px');
            }

            clearTimeout(timeout);
            $(popupTriangle).show();
            $(popup).css('width', '370px');
        }, function () {
            $(this).parents('.post').children('.popup-wrapper').css('width', '0');
            var timeout = setTimeout(function (element) {
                $(element).parents('.post').children('.popup-triangle').hide();
            }, 200, this);
            $(this).parents('.post').attr('timeout', timeout);
        });

        $('.popup-wrapper').hover(function () {
            var timeout = $(this).parents('.post').attr('timeout');
            clearTimeout(timeout);
            $(this).parents('.post').children('.popup-triangle').show();
            $(this).css('width', '370px');
        }, function () {
            $(this).css('width', '0');
            var timeout = setTimeout(function (element) {
                $(element).parents('.post').children('.popup-triangle').hide();
            }, 200, this);
            $(this).parents('.post').attr('timeout', timeout);
        });

        $('.popup-triangle').hover(function () {
            var timeout = $(this).parents('.post').attr('timeout');
            clearTimeout(timeout);
            $(this).show();
            $(this).parents('.post').children('.popup-wrapper').css('width', '370px');
        }, function () {
            $(this).parents('.post').children('.popup-wrapper').css('width', '0');
            var timeout = setTimeout(function (element) {
                $(element).parents('.post').children('.popup-triangle').hide();
            }, 200, this);
            $(this).parents('.post').attr('timeout', timeout);
        });
    </script>
</body>
</html>
