<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="head_menu">
                <ul>
                    <li>
                        @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "main_page" })
                    </li>
                    <li>
                        @Html.ActionLink("Фильмы", "Index", "Genre", null, new { @class = "films" })
                        <div class="dropdown_menu">
                            @*<i class="triangle"></i>*@
                            <ul class="sub-nav-col">
                                <li><a href="#">Артхаус</a></li>
                                <li><a href="#">Боевики</a></li>
                                <li><a href="#">Военные</a></li>
                                <li><a href="#">Детективы</a></li>
                                <li><a href="#">Для детей</a></li>
                                <li><a href="#">Для всей семьи</a></li>
                                <li><a href="#">Документальные</a></li>
                                <li><a href="#">Драмы</a></li>
                                <li><a href="#">Зарубежные</a></li>
                                <li><a href="#">Исторические</a></li>
                                <li><a href="#">Комедии</a></li>
                                <li><a href="#">Мелодрамы</a></li>
                                <li><a href="#">Приключения</a></li>
                                <li><a href="#">Русские</a></li>
                                <li><a href="#">Советское кино</a></li>
                                <li><a href="#">Триллеры</a></li>
                                <li><a href="#">Ужасы</a></li>
                                <li><a href="#">Фантастика</a></li>
                                <li><a href="#">Эротика</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Фильмы 2015 года</a></li>
                                    <li><a href="#">Фильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="mfilms">Мультфильмы</a>
                        <div class="dropdown_menu">
                            @*<i class="triangle"></i>*@
                            <ul class="sub-nav-col">
                                <li><a href="#">Для детей</a></li>
                                <li><a href="#">Зарубежные</a></li>
                                <li><a href="#">Отечественные</a></li>
                                <li><a href="#">Полнометражные</a></li>
                                <li><a href="#">Мультсерисалы</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Мультфильмы 2015 года</a></li>
                                    <li><a href="#">Мультфильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="serials">Сериалы</a>
                        <div class="dropdown_menu">
                            <ul class="sub-nav-col">
                                <li><a href="#">Боевики</a></li>
                                <li><a href="#">Военные</a></li>
                                <li><a href="#">Детективы</a></li>
                                <li><a href="#">Триллеры</a></li>
                                <li><a href="#">Ужасы</a></li>
                                <li><a href="#">Фантастика</a></li>
                                <li><a href="#">Эротика</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Мультфильмы 2015 года</a></li>
                                    <li><a href="#">Мультфильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown_menu"></div>
                    </li>
                    <li>
                        <a class="news">Новости</a>
                        <div class="dropdown_menu"></div>
                    </li>
                    <li>
                        <a class="desk">Стол заказов</a>
                    </li>
                    <li>
                        <a class="contacts">Контакты</a>
                    </li>
                </ul>
            </div>
            @RenderSection("Slaider", required: false)
            @RenderSection("Player", required: false)
        </div>

        <div id="middle">
            <div class="content">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            <div class="footer_content">

            </div>
        </div>
    </div>
    <script>
        $('.head_menu ul li').hover(function () {
            $(this).children('.dropdown_menu').show();
        }, function () {
            $(this).children('.dropdown_menu').hide();
        });

        $('.dropdown_menu').hover(function () {
            $(this).parent('.head_menu ul li').children('a').addClass('hover');
        }, function () {
            $(this).parent('.head_menu ul li').children('a').removeClass('hover');
        });

        $('.post_image').hover(function () {
            if ($(this).hasClass('1')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '240px');
            }
            else if ($(this).hasClass('2')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '440px');
            }
            else if ($(this).hasClass('3')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '640px');
            }
            else if ($(this).hasClass('4')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '280px');
            }
            else {
                $(this).parents('.post').children('.popup-wrapper').css('left', '480px');
            }

            $(this).parents('.post').children('.popup-wrapper').show();
        }, function () {
            $(this).parents('.post').children('.popup-wrapper').hide();
        });

        $('.popup-wrapper').hover(function () {
            $(this).show();
        }, function () {
            $(this).hide();
        });
    </script>
</body>
</html>