<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div>
        <ul class="social" style="list-style: none; position: fixed; left: -40px;">
            <li><img src="~/Images/vk.png" /></li>
            <li><img src="~/Images/yt.png" /></li>
            <li><img src="~/Images/twitter.png" /></li>
            <li><img src="~/Images/facebook.png" /></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="header">
            <div class="head_menu">
                <ul>
                    <li>
                        @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "main_page" })
                    </li>
                    <li>
                        @Html.ActionLink("Фильмы", "Index", "Genre", null, new { @class = "films" })
                        <div class="dropdown_menu">
                            @*<i class="triangle"></i>*@
                            <ul class="sub-nav-col">
                                <li><a href="#">Артхаус</a></li>
                                <li><a href="#">Боевики</a></li>
                                <li><a href="#">Военные</a></li>
                                <li><a href="#">Детективы</a></li>
                                <li><a href="#">Для детей</a></li>
                                <li><a href="#">Для всей семьи</a></li>
                                <li><a href="#">Документальные</a></li>
                                <li><a href="#">Драмы</a></li>
                                <li><a href="#">Зарубежные</a></li>
                                <li><a href="#">Исторические</a></li>
                                <li><a href="#">Комедии</a></li>
                                <li><a href="#">Мелодрамы</a></li>
                                <li><a href="#">Приключения</a></li>
                                <li><a href="#">Русские</a></li>
                                <li><a href="#">Советское кино</a></li>
                                <li><a href="#">Триллеры</a></li>
                                <li><a href="#">Ужасы</a></li>
                                <li><a href="#">Фантастика</a></li>
                                <li><a href="#">Эротика</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Фильмы 2015 года</a></li>
                                    <li><a href="#">Фильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="mfilms">Мультфильмы</a>
                        <div class="dropdown_menu">
                            @*<i class="triangle"></i>*@
                            <ul class="sub-nav-col">
                                <li><a href="#">Для детей</a></li>
                                <li><a href="#">Зарубежные</a></li>
                                <li><a href="#">Отечественные</a></li>
                                <li><a href="#">Полнометражные</a></li>
                                <li><a href="#">Мультсерисалы</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Мультфильмы 2015 года</a></li>
                                    <li><a href="#">Мультфильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="serials">Сериалы</a>
                        <div class="dropdown_menu">
                            <ul class="sub-nav-col">
                                <li><a href="#">Боевики</a></li>
                                <li><a href="#">Военные</a></li>
                                <li><a href="#">Детективы</a></li>
                                <li><a href="#">Триллеры</a></li>
                                <li><a href="#">Ужасы</a></li>
                                <li><a href="#">Фантастика</a></li>
                                <li><a href="#">Эротика</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Мультфильмы 2015 года</a></li>
                                    <li><a href="#">Мультфильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown_menu"></div>
                    </li>
                    <li style="width: 320px;">
                        <div id="search" style="height: 32px; width:3px; float:left;">
                        </div>
                          <div style="height: 25px; width: 280px; background-color: #282828; margin-left: 20px; margin-top: 7px; text-align:left;padding-top: 2px;">
                                <span style="margin-left:10px; color: white;">Поиск</span>
                              <img src="~/Images/loop.png" style="width: 20px;height:20px; float: right; margin-right: 5px"/>
                          </div>
                    </li>
                    <li>
                        <a class="enter">Войти</a>
                    </li>
                </ul>
                
            </div>
            @RenderSection("Slaider", required: false)
            @RenderSection("Player", required: false)
        </div>

        <div id="middle">
            <div class="content">
                @RenderBody()
            </div>
        </div>

        <div id="footer" style="overflow: hidden;">
            <div style="height:1px; background-color: gray;"></div>
            <div class="footer_content">
                <ul class="foot_menu">
                    <li>ГЛАВНАЯ</li>
                    <li>НОВИНКИ</li>
                    <li>ФИЛЬМЫ</li>
                    <li>МУЛЬТФИЛЬМЫ</li>
                    <li>СЕРИАЛЫ</li>
                    <li>ТОП</li>
                    <li>КОНТАКТЫ</li>
                </ul>
            </div>
            <div style="text-align: center;"><p>Copyright 2016 Владыка Сергей Corp</p></div>
        </div>
        
    </div>
    
    <script>
        $('.head_menu ul li').hover(function () {
            $(this).children('.dropdown_menu').show();
        }, function () {
            $(this).children('.dropdown_menu').hide();
        });

        $('.dropdown_menu').hover(function () {
            $(this).parent('.head_menu ul li').children('a').addClass('hover');
        }, function () {
            $(this).parent('.head_menu ul li').children('a').removeClass('hover');
        });

        $('.post_image').hover(function () {
            if ($(this).hasClass('1')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '240px');
            }
            else if ($(this).hasClass('2')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '440px');
            }
            else if ($(this).hasClass('3')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '640px');
            }
            else if ($(this).hasClass('4')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '280px');
            }
            else {
                $(this).parents('.post').children('.popup-wrapper').css('left', '480px');
            }

            $(this).parents('.post').children('.popup-wrapper').show();
        }, function () {
            $(this).parents('.post').children('.popup-wrapper').hide();
        });

        $('.popup-wrapper').hover(function () {
            $(this).show();
        }, function () {
            $(this).hide();
        });


    </script>
</body>
</html>