<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PopupMenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="head_menu">
                <ul>
                    <li>
                        @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "main_page" })
                    </li>
                    <li>
                        @Html.ActionLink("Фильмы", "Index", "Genre", null, new { @class = "films" })
                        <div class="dropdown_menu">
                            @*<i class="triangle"></i>*@
                            <ul class="sub-nav-col">
                                <li><a href="#">Артхаус</a></li>
                                <li><a href="#">Боевики</a></li>
                                <li><a href="#">Военные</a></li>
                                <li><a href="#">Детективы</a></li>
                                <li><a href="#">Для детей</a></li>
                                <li><a href="#">Для всей семьи</a></li>
                                <li><a href="#">Документальные</a></li>
                                <li><a href="#">Драмы</a></li>
                                <li><a href="#">Зарубежные</a></li>
                                <li><a href="#">Исторические</a></li>
                                <li><a href="#">Комедии</a></li>
                                <li><a href="#">Мелодрамы</a></li>
                                <li><a href="#">Приключения</a></li>
                                <li><a href="#">Русские</a></li>
                                <li><a href="#">Советское кино</a></li>
                                <li><a href="#">Триллеры</a></li>
                                <li><a href="#">Ужасы</a></li>
                                <li><a href="#">Фантастика</a></li>
                                <li><a href="#">Эротика</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Фильмы 2015 года</a></li>
                                    <li><a href="#">Фильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="mfilms">Мультфильмы</a>
                        <div class="dropdown_menu">
                            @*<i class="triangle"></i>*@
                            <ul class="sub-nav-col">
                                <li><a href="#">Для детей</a></li>
                                <li><a href="#">Зарубежные</a></li>
                                <li><a href="#">Отечественные</a></li>
                                <li><a href="#">Полнометражные</a></li>
                                <li><a href="#">Мультсерисалы</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Мультфильмы 2015 года</a></li>
                                    <li><a href="#">Мультфильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="serials">Сериалы</a>
                        <div class="dropdown_menu">
                            @*<i class="triangle"></i>*@
                            <ul class="sub-nav-col">
                                <li><a href="#">Боевики</a></li>
                                <li><a href="#">Военные</a></li>
                                <li><a href="#">Детективы</a></li>
                                <li><a href="#">Триллеры</a></li>
                                <li><a href="#">Ужасы</a></li>
                                <li><a href="#">Фантастика</a></li>
                                <li><a href="#">Эротика</a></li>
                            </ul>
                            <div class="sub_div_menu">
                                <ul>
                                    <li><a href="#">Супер новинки</a></li>
                                    <li><a href="#">Мультфильмы 2015 года</a></li>
                                    <li><a href="#">Мультфильмы 2014 года</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Зарубежные</a></li>
                                    <li><a href="#">Русские</a></li>
                                    <li><a href="#">Для детей</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown_menu"></div>
                    </li>
                    <li>
                        <a class="news">Новости</a>
                        <div class="dropdown_menu"></div>
                    </li>
                    <li>
                        <a class="desk">Стол заказов</a>
                    </li>
                    <li>
                        <a class="contacts">Контакты</a>
                    </li>
                </ul>
            </div>
            @RenderSection("Slaider", required: false)
            @RenderSection("Player", required: false)
        </div>

        <div id="middle">
            <div class="content">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            <div class="footer_content">

            </div>
        </div>
    </div>
    <script>
        $('.head_menu ul li').hover(function () {
            $(this).children('.dropdown_menu').show();
        }, function () {
            $(this).children('.dropdown_menu').hide();
        });

        $('.post_image').hover(function () {
            var description = '<div class="link-wrapper">' +
            '<a href="#" class="action-link">Описание</a>' +
            '<span class="action-link-wrapper">' +
            '<a class="action-link">Смотреть позже</a>' +
            '</span>' +
            '</div>' +
            '<div class="properties">' +
            '<span class="feature" title="Видео доступно в HD-качестве">HD</span>' +
            '<span class="feature" itemprop="datePublished" content="2015">2015</span>' +
            '<span class="feature" itemprop="productionCountry" content="4">США</span>' +
            '<span class="feature">Для детей</span>' +
            '<time class="feature" itemprop="duration">8 мин.</time>' +
            '</div>' +
            '<ul class="main_ul">' +
            '<li>' +
            '<strong>Рейтинги</strong>' +
            '<ul>' +
            '<li>6,7 КиноПоиск</li>,' +
            '<li>7,4 IMDb</li>' +
            '</ul>' +
            '</li>' +
            '<li>' +
            '<strong>Режиссеры</strong>' +
            '<ul>' +
            '<li>Жора Петровский</li>,' +
            '<li>Люся Бтр</li>' +
            '</ul>' +
            '</li>' +
            '<li>' +
            '<strong>В ролях</strong>' +
            '<ul>' +
            '<li>Жора Кардан</li>,' +
            '<li>Майкл Джексон</li>' +
            '</ul>' +
            '</li>' +
            '</ul>' +
            '<div class="story-text">' +
            '<p>Короткометражный мультик Disney, созданный по мотивам суперхита «Холодное сердце». В день рождения Анны Эльза решает сделать сестре сюрприз. Но устроить праздник оказывается не так-то просто.</p>' +
            '</div>';

            if ($(this).hasClass('4') || $(this).hasClass('5')) {
                $(this).children('.popup-wrapper').css('left', '-381px');
            }
            else {
                $(this).children('.popup-wrapper').css('left', '183px');
            }

            $(this).children('.popup-wrapper').append(description);
        }, function () {
            $(this).children('.popup-wrapper').html('');
        });
    </script>
</body>
</html>