<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="head_menu">
        <div class="menu_btn">
            <i class="icon-default"></i>
            <i class="icon-hover"></i>
            <span>Меню</span>
            <div class="dropdown_menu">
                <div class="triangle"></div>
                <ul>
                    <li><a>Главная</a></li>
                    <li><a>Фильмы</a></li>
                    <li><a>Сериалы</a></li>
                    <li><a>Мультфильмы</a></li>
                </ul>
            </div>
        </div>
        <div class="logo">
        </div>
        <div class="profile">
        </div>
    </div>
    <div id="wrapper">
        <div id="header">
            @RenderSection("Slaider", required: false)
            @RenderSection("Player", required: false)
        </div>
        <div id="middle">
            @RenderBody()
        </div>

        <div id="footer" style="overflow: hidden;">
            <div style="height: 1px; background-color: gray;"></div>
            <div class="footer_content">
                <ul class="foot_menu">
                    <li><a>ГЛАВНАЯ</a></li>
                    <li><a>НОВИНКИ</a></li>
                    <li><a>ФИЛЬМЫ</a></li>
                    <li><a>МУЛЬТФИЛЬМЫ</a></li>
                    <li><a>СЕРИАЛЫ</a></li>
                    <li><a>ТОП</a></li>
                    <li><a>КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div style="text-align: center;">
                <p>Copyright 2016 Владыка Сергей Corp</p>
            </div>
        </div>

    </div>

    <script>
        $('.post_image').hover(function () {
            if ($(this).hasClass('1')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '290px');
            }
            else if ($(this).hasClass('2')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '530px');
            }
            else if ($(this).hasClass('3')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '770px');
            }
            else if ($(this).hasClass('4')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '415px');
            }
            else if ($(this).hasClass('5')) {
                $(this).parents('.post').children('.popup-wrapper').css('left', '655px');
            }
            else {
                $(this).parents('.post').children('.popup-wrapper').css('left', '895px');
            }

            $(this).parents('.post').children('.popup-wrapper').css('visibility', 'visible');
            $(this).parents('.post').children('.popup-wrapper').css('opacity', '1');
        }, function () {
            $(this).parents('.post').children('.popup-wrapper').css('visibility', 'hidden');
            $(this).parents('.post').children('.popup-wrapper').css('opacity', '0');
        });

        $('.popup-wrapper').hover(function () {
            $(this).css('visibility', 'visible');
            $(this).css('opacity', '1');
        }, function () {
            $(this).css('visibility', 'hidden');
            $(this).css('opacity', '0');
        });
    </script>
</body>
</html>
