@{
    ViewBag.Title = "Фильмы";
}

@section Slaider {
    <div id="HeadSlaider" class="head_slaider carousel slide">
        <a class="left carousel-control" href="#HeadSlaider" data-slide="prev">
            <img class="left_row" src="~/Images/left_row_slider.png" />
        </a>

        <div class="carousel-inner">
            <img class="slider-image item active" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
        </div>

        <a class="right carousel-control" href="#HeadSlaider" data-slide="next">
            <img class="right_row" src="~/Images/right_row_slider.png" />
        </a>
    </div>
}

<div class="name">
    @Html.ActionLink("Боевики", "Category", "Genre")
</div>
<div id="PostSlaider_1" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_1" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_1" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Военные", "Category", "Genre")
</div>
<div id="PostSlaider_2" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_2" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_2" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Детективы", "Category", "Genre")
</div>
<div id="PostSlaider_3" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_3" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_3" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Триллеры", "Category", "Genre")
</div>
<div id="PostSlaider_4" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_4" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_4" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Для детей", "Category", "Genre")
</div>
<div id="PostSlaider_5" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_5" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_5" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Для всей семьи", "Category", "Genre")
</div>
<div id="PostSlaider_6" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_6" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_6" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Документальные", "Category", "Genre")
</div>
<div id="PostSlaider_7" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_7" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_7" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Драммы", "Category", "Genre")
</div>
<div id="PostSlaider_8" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_8" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_8" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Исторические", "Category", "Genre")
</div>
<div id="PostSlaider_9" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_9" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_9" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Комедии", "Category", "Genre")
</div>
<div id="PostSlaider_10" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_10" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_10" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>

<div class="name">
    @Html.ActionLink("Эротика", "Category", "Genre")
</div>
<div id="PostSlaider_11" class="post carousel slide" data-interval="0">

    <a class="left carousel-control" href="#PostSlaider_11" data-slide="prev">
        <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
    </a>

    <div class="carousel-inner">
        <div class="post_images item active">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>

        <div class="post_images item">
            <div class="post_image 1">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 2">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 3">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 4">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
            <div class="post_image 5">
                <img src="~/Images/dnevnikdevochkipodrostka.jpg" />
                <span>Дневник девочки-подростка</span>
                <div class="popup-wrapper top right"></div>
            </div>
        </div>
    </div>

    <a class="right carousel-control" href="#PostSlaider_11" data-slide="next">
        <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
    </a>
</div>
