@{
    ViewBag.Title = "Главная";
}

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Slaider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PopupMenu.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}

@section Slaider {
    <div id="HeadSlaider" class="head_slaider carousel slide">
        <a class="left carousel-control" href="#HeadSlaider" data-slide="prev">
            <img class="left_row" src="~/Images/left_row_slider.png" />
        </a>

        <div class="carousel-inner">
            <img class="slider-image item active" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
            <img class="slider-image item" src="~/Images/slider-image.jpg" />
        </div>

        <a class="right carousel-control" href="#HeadSlaider" data-slide="next">
            <img class="right_row" src="~/Images/right_row_slider.png" />
        </a>
    </div>
    <script>
        $(document).ready(function () {
            $('#HeadSlaider').carousel({ interval: 3000 });
        });
    </script>
}

@for (int i = 0; i < 3; i++)
{
    <div class="name">
        @Html.ActionLink("Фильмы", "Index", "Genre")
    </div>
    <div id="@("PostSlaider_" + i)" class="post carousel slide" data-interval="0">

        <a class="left carousel-control" href="@("#PostSlaider_" + i)" data-slide="prev">
            <img class="left-side-arrow" src="~/Images/left_row_slider.png" />
        </a>

        <div class="carousel-inner">
            <div class="post_images item active">
                <a class="post_image 1" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
                <a class="post_image 2" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
                <a class="post_image 3" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
                <a class="post_image 4" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
                <a class="post_image 5" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
            </div>

            <div class="post_images item">
                <a class="post_image 1" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
                <a class="post_image 2" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
                <a class="post_image 3" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
                <a class="post_image 4" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
                <a class="post_image 5" href="~/Genre/Details">
                    <div class="image"><img src="~/Images/dnevnikdevochkipodrostka.jpg" /></div>
                    <span>Дневник девочки-подростка</span>
                </a>
            </div>
        </div>

        <a class="right carousel-control" href="@("#PostSlaider_" + i)" data-slide="next">
            <img class="right-side-arrow" src="~/Images/right_row_slider.png" />
        </a>

        <div class="popup-wrapper top right">
            <div class="link-wrapper">
                @Html.ActionLink("Описание", "Details", "Genre", null, new { @class = "action_link" })
                <span class="action-link-wrapper">
                    <a class="action-link">Смотреть позже</a>
                </span>
            </div>
            <div class="properties">
                <span class="feature" title="Видео доступно в HD-качестве">HD</span>
                <span class="feature" itemprop="datePublished" content="2015">2015</span>
                <span class="feature" itemprop="productionCountry" content="4">США</span>
                <span class="feature">Для детей</span>
                <time class="feature" itemprop="duration">8 мин.</time>
            </div>
            <ul class="main_ul">
                <li>
                    <strong>Рейтинги</strong>
                    <ul>
                        <li>6,7 КиноПоиск</li>,
                        <li>7,4 IMDb</li>
                    </ul>
                </li>
                <li>
                    <strong>Режиссеры</strong>
                    <ul>
                        <li>Жора Петровский</li>,
                        <li>Люся Бтр</li>
                    </ul>
                </li>
                <li>
                    <strong>В ролях</strong>
                    <ul>
                        <li>Жора Кардан</li>,
                        <li>Майкл Джексон</li>
                    </ul>
                </li>
            </ul>
            <div class="story-text">
                <p>Короткометражный мультик Disney, созданный по мотивам суперхита «Холодное сердце». В день рождения Анны Эльза решает сделать сестре сюрприз. Но устроить праздник оказывается не так-то просто.</p>
            </div>
        </div>
    </div>
}